{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
  integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
  crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
  integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ber/hSv7aBOe0We"
  crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // 渲染独立公式块（display math）
    document.querySelectorAll('.math-block').forEach(function (el) {
      katex.render(el.textContent.trim(), el, { displayMode: true, throwOnError: false });
    });
    // 渲染行内公式（inline math）
    document.querySelectorAll('.math-inline').forEach(function (el) {
      katex.render(el.textContent.trim(), el, { displayMode: false, throwOnError: false });
    });
  });
</script>
{{ end }}
